h1 {
    text-align: center;
}
h2 {
    margin-left: 35px;
}
.center {
    max-width: 600px;
    margin: auto;
}
.tune {
    list-style: none;
    padding: 0px;
}
.name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #CE55E3;
}
.separator {
    border-top: solid;
    border-width: 1px;
    margin: 20px;
}
